.half-modal {
    align-items: flex-end;
    .modal-wrapper {
        height: 25% !important;
        border-radius: 20px;
    }
    ion-header ion-toolbar:first-of-type {
        padding-top: 0;
    }
}